<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Game Cal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/lib/bootstrap/bootstrap-responsive.min.css">
  </head>
  <body>
    <div class="container" ng-controller="GameCalController">
      <div class="page-header">
        <h1>Game Cal</h1>
      </div>
      <div class="row">
        <div class="span3">
          <ul class="nav nav-list well">
            <li class="nav-header">Games</li>
            <li ng-repeat="releaseDate in releaseDates">
                <a href="#" ng-bind="releaseDate"></a>
            </li>
          </ul>
        </div>
        <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span2">Release</th>
                <th class="span7">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="release in releases">
                <td class="span2" ng-bind="release.name"></td>
                <td class="span7" ng-bind="release.date"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="/js/lib/jquery/jquery.min.js"></script>
    <script src="/js/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/js/lib/angular/angular.min.js"></script>
    <script src="/js/angular/controllers/GameCalController.js"></script>
  </body>
</html>
